body {
  background-color: #faf4e0;
}

h1 {
  font-size: 45px;
  text-align: center;
  margin: 45px;
}

.image-fluid {
  max-width: 100%;
}

.foot {
  text-align: center;
}

p {
  margin-bottom: 0px;
}
